/* Body  */

body{
    
    text-align:center;
    overflow-x: hidden;
}

/* Navbar background-color */

.navbar_background {
    /* background-color: #fff; */
    background-color: rgb(7, 29, 73);
   

}

.edulution_portal_logo {
  height: 100%;
  width: auto;
  text-align: center;
}

.edulution_portal_logo_img {
    height:360px;
    margin:-100px;
}


/*background for image buttons on landing page*/
.icon_background {
        
    width: 352px;
    height:322px; 
    /* width:250px;
    height:250px; */
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 6px 6px 2.5px grey;
    padding-bottom: 10px;
}


#refresh-btn{
    /* float: left;
    margin-left: 20%;
    padding: 3%; */
    /*background-color: #159B15;*/
    box-shadow: 2px 2px 2px 2px #3F3F3F;
    border: #159B15;
}

.refresh_button {
    margin-left : 90%;
}

#refresh_button {
    /* background-color: #159B15; */
    box-shadow: 2px 2px 2px 2px #3F3F3F;
    border: #159B15;
    background-color: rgb(7, 29, 73);
}






/*Container div for topnav elements*/
#topnav_container{
    display: flex;
}

#topnav,#bottomnav{
    background-color: rgb(7, 29, 73);
    padding-top: 0.5%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
        border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
    }

.nav > li > a{
    color: white
}

/*pagination styles*/
.pagination > .active > a, .pagination > .active > a:hover{
    background-color:#00A546;
    border-color:#00A546; 
}
.pagination > li > a{
    color:#00A546;
}


/*scoped styles for the learners tab only*/
.learners table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 800px; /* this can vary */
}

.learners .table>thead>tr>th {
    border-top: 0 !important;
    border-bottom: 0 !important;
    }

.learners table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.learners thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #F0F0F0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.learners tbody {
    overflow-y: scroll;
    display: inline-block;
}

.learners thead > tr, .learners tbody > tr, .learners tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.learners thead, tfoot {
    flex-shrink: 0;
}

.learners th, .learners tbody td {
    width: 25%; /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.learners tfoot {
    display: inline-block;
}

.learners tfoot td {
    width: 100%;
    display: inline-block;
}


/*scoped styles for responses tab only*/
#responses_search {
    width: 40%;
}
.responses table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 800px; /* this can vary */
}

.responses .table>thead>tr>th {
    border-top: 0 !important;
    border-bottom: 0 !important;
    }

.responses table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.responses thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #F0F0F0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.responses tbody {
    overflow-y: scroll;
    display: inline-block;
}

.responses thead > tr, .responses tbody > tr, .responses tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.responses thead, tfoot {
    flex-shrink: 0;
}

.responses th, .responses tbody td {
    width: 14.3%; /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.responses tfoot {
    display: inline-block;
}

.responses tfoot td {
    width: 100%;
    display: inline-block;
}


.result_section_block{
    border: 1px solid white;
    color: white;
    text-align: center;
}


/*TODO: New colors for test results and results by section tabs*/
.score_background_{
    background-color:#D9D9D9
}
.score_background{
    background-color:#FF412A
}
.score_background{
    background-color:#EC9090
}
.score_background{
    background-color:#F5C216
}
.score_background{
    background-color:#99CC33
}
.score_background{
    background-color:#00B050
    }


  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
